// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../core/resource';
import * as TelemetryAPI from './telemetry';
import { APIPromise } from '../../core/api-promise';
import { OffsetPagination, type OffsetPaginationParams, PagePromise } from '../../core/pagination';
import { Stream } from '../../core/streaming';
import { buildHeaders } from '../../internal/headers';
import { RequestOptions } from '../../internal/request-options';
import { path } from '../../internal/utils/path';

/**
 * Stream live telemetry events from a browser session, and manage the destinations sessions export them to.
 */
export class Telemetry extends APIResource {
  /**
   * Reads a page of telemetry events for the browser session. To page through
   * results, pass the X-Next-Offset value from the previous response as offset and
   * repeat while X-Has-More is true. Returns an empty list when telemetry data is
   * unavailable.
   *
   * @example
   * ```ts
   * // Automatically fetches more pages as needed.
   * for await (const telemetryEventsResponse of client.browsers.telemetry.events(
   *   'htzv5orfit78e1m2biiifpbv',
   * )) {
   *   // ...
   * }
   * ```
   */
  events(
    idOrName: string,
    query: TelemetryEventsParams | null | undefined = {},
    options?: RequestOptions,
  ): PagePromise<TelemetryEventsResponsesOffsetPagination, TelemetryEventsResponse> {
    return this._client.getAPIList(
      path`/browsers/${idOrName}/telemetry/events`,
      OffsetPagination<TelemetryEventsResponse>,
      { query, ...options },
    );
  }

  /**
   * Streams browser telemetry events as a server-sent events (SSE) stream. The
   * stream closes when the browser session terminates. Each event frame includes an
   * id: field containing a monotonically increasing sequence number; pass it as
   * Last-Event-ID on reconnect to resume without gaps. The event: field is never
   * set; all frames carry JSON in the data: field. A keepalive comment frame is sent
   * every 15 seconds when no events arrive. Returns 404 if the browser session does
   * not exist. If telemetry was not enabled on the session, the stream opens but no
   * events are delivered. Fresh connections only see new events; pass replay=all to
   * start from the oldest retained event instead.
   *
   * @example
   * ```ts
   * const response = await client.browsers.telemetry.stream(
   *   'htzv5orfit78e1m2biiifpbv',
   * );
   * ```
   */
  stream(
    idOrName: string,
    params: TelemetryStreamParams | undefined = {},
    options?: RequestOptions,
  ): APIPromise<Stream<TelemetryStreamResponse>> {
    const { 'Last-Event-ID': lastEventID, ...query } = params ?? {};
    return this._client.get(path`/browsers/${idOrName}/telemetry/stream`, {
      query,
      ...options,
      headers: buildHeaders([
        {
          Accept: 'text/event-stream',
          ...(lastEventID != null ? { 'Last-Event-ID': lastEventID } : undefined),
        },
        options?.headers,
      ]),
      stream: true,
    }) as APIPromise<Stream<TelemetryStreamResponse>>;
  }
}

export type TelemetryEventsResponsesOffsetPagination = OffsetPagination<TelemetryEventsResponse>;

/**
 * An agent-driven HTTP call that drives the browser, handled by the in-VM API
 * server. Calls that manage the VM instead emit platform_api_call.
 */
export interface BrowserAPICallEvent {
  category: 'control';

  /**
   * Provenance metadata identifying which producer emitted the event.
   */
  source: BrowserEventSource;

  /**
   * Event timestamp in Unix microseconds.
   */
  ts: number;

  type: 'api_call';

  data?: BrowserAPICallEvent.Data;

  /**
   * True if the data field was truncated due to size limits.
   */
  truncated?: boolean;
}

export namespace BrowserAPICallEvent {
  export interface Data {
    /**
     * Wall-clock duration of the handler in milliseconds.
     */
    duration_ms: number;

    /**
     * Matched route's operation, named as the in-VM API names its handler (e.g.
     * ProcessExec, TakeScreenshot).
     */
    operation_id: string;

    /**
     * Per-request identifier from the in-VM API request middleware.
     */
    request_id: string;

    /**
     * HTTP response status code.
     */
    status: number;

    /**
     * Source submitted to the Playwright code-execution endpoint, capped at 8192 bytes
     * like every other captured string. A capped value is cut on a character boundary
     * and ends in `...[truncated]`. Absent for every other operation.
     */
    code?: string;
  }
}

/**
 * CDP Runtime.StackTrace representing the JavaScript call stack at the time of an
 * event. Fields use CDP naming conventions rather than snake_case to match the
 * Chrome DevTools Protocol wire format.
 */
export interface BrowserCallStack {
  /**
   * Ordered list of call frames, outermost first.
   */
  callFrames: Array<BrowserCallStack.CallFrame>;

  /**
   * Optional label for the stack trace (e.g. async cause).
   */
  description?: string;

  /**
   * Parent stack trace for async stacks.
   */
  parent?: BrowserCallStack;
}

export namespace BrowserCallStack {
  export interface CallFrame {
    /**
     * Zero-based column number within the line.
     */
    columnNumber: number;

    /**
     * JavaScript function name, or empty string for anonymous functions.
     */
    functionName: string;

    /**
     * Zero-based line number within the script.
     */
    lineNumber: number;

    /**
     * CDP script identifier.
     */
    scriptId: string;

    /**
     * URL or name of the script file.
     */
    url: string;
  }
}

/**
 * A visible captcha challenge reached a terminal outcome.
 */
export interface BrowserCaptchaChallengeResultEvent {
  category: 'captcha';

  /**
   * Per-challenge payload. This event is emitted once per challenge and determines
   * its overall outcome; captcha_solve_started and captcha_solve_result describe
   * individual tasks and may occur multiple times within the challenge.
   */
  data: BrowserCaptchaChallengeResultEvent.Data;

  /**
   * Provenance metadata identifying which producer emitted the event.
   */
  source: BrowserEventSource;

  /**
   * Event timestamp in Unix microseconds.
   */
  ts: number;

  type: 'captcha_challenge_result';

  /**
   * True if the data field was truncated due to size limits.
   */
  truncated?: boolean;
}

export namespace BrowserCaptchaChallengeResultEvent {
  /**
   * Per-challenge payload. This event is emitted once per challenge and determines
   * its overall outcome; captcha_solve_started and captcha_solve_result describe
   * individual tasks and may occur multiple times within the challenge.
   */
  export interface Data {
    /**
     * Captcha kind. Enterprise reCAPTCHA variants are grouped into their version
     * bucket (recaptcha_v2 or recaptcha_v3), press-and-hold challenges use
     * press_and_hold, and unlisted kinds use other.
     */
    captcha_type:
      | 'hcaptcha'
      | 'recaptcha_v2'
      | 'recaptcha_v3'
      | 'turnstile'
      | 'geetest'
      | 'press_and_hold'
      | 'other';

    /**
     * Opaque identifier shared by events for one visible challenge. An image-grid
     * captcha may create multiple task_id values for one challenge_id. The same value
     * may continue across a page reload when the challenge episode continues. It does
     * not indicate task ordering or challenge completion.
     */
    challenge_id: string;

    /**
     * Wall-clock duration from the challenge appearing to its terminal outcome,
     * covering every solver attempt in between.
     */
    duration_ms: number;

    /**
     * Terminal outcome of the visible challenge. solved: the page observed the
     * challenge clear after a solver attempt. failure: a terminal solver failure
     * occurred, or all attempts ended while the challenge remained. timeout: the
     * challenge-level wait budget expired while the challenge remained. abandoned:
     * observation ended without an attributable terminal challenge outcome. This
     * includes a dismissed widget or page unload without a solved signal or terminal
     * solver outcome, and a token appearing while multiple same-provider challenges
     * are open, because the producer cannot attribute that token to this visible
     * challenge. A captcha_solve_result with the same challenge_id may therefore
     * report success while the challenge result reports abandoned. A solved challenge
     * does not prove the site accepted the token or that the guarded action succeeded.
     */
    status: 'solved' | 'failure' | 'timeout' | 'abandoned';

    /**
     * Host of the page where the challenge appeared.
     */
    website_host?: string;

    /**
     * Path of the page where the challenge appeared. Query string excluded.
     */
    website_path?: string;
  }
}

/**
 * A captcha solve attempt reached a terminal outcome.
 */
export interface BrowserCaptchaSolveResultEvent {
  category: 'captcha';

  /**
   * Provenance metadata identifying which producer emitted the event.
   */
  source: BrowserEventSource;

  /**
   * Event timestamp in Unix microseconds.
   */
  ts: number;

  type: 'captcha_solve_result';

  data?: BrowserCaptchaSolveResultEvent.Data;

  /**
   * True if the data field was truncated due to size limits.
   */
  truncated?: boolean;
}

export namespace BrowserCaptchaSolveResultEvent {
  export interface Data {
    /**
     * Captcha kind. Enterprise reCAPTCHA variants are grouped into their version
     * bucket (recaptcha_v2 or recaptcha_v3), press-and-hold challenges use
     * press_and_hold, and unlisted kinds use other.
     */
    captcha_type:
      | 'hcaptcha'
      | 'recaptcha_v2'
      | 'recaptcha_v3'
      | 'turnstile'
      | 'geetest'
      | 'press_and_hold'
      | 'other';

    /**
     * Wall-clock duration from solve start to terminal outcome. Authoritative solve
     * timing; do not derive it from the gap to a captcha_solve_started event, whose
     * delivery and ordering are not guaranteed.
     */
    duration_ms: number;

    /**
     * Terminal outcome. success: solver returned a usable solution. failure: solver
     * returned an error (see error_code). timeout: solver did not return within the
     * caller's wait budget. abandoned: caller cancelled or the page navigated away
     * mid-solve.
     */
    status: 'success' | 'failure' | 'timeout' | 'abandoned';

    /**
     * Opaque identifier shared by events for one visible challenge. An image-grid
     * captcha may create multiple task_id values for one challenge_id. The same value
     * may continue across a page reload when the challenge episode continues. It does
     * not indicate task ordering or challenge completion.
     */
    challenge_id?: string;

    /**
     * Solver-specific error code on failure (e.g. ERROR_CAPTCHA_UNSOLVABLE). Absent on
     * success.
     */
    error_code?: string;

    /**
     * Opaque identifier shared with the matching captcha_solve_started.
     */
    task_id?: string;

    /**
     * Host of the page where the captcha was solved.
     */
    website_host?: string;

    /**
     * Path of the page where the captcha was solved. Query string excluded.
     */
    website_path?: string;
  }
}

/**
 * A captcha solver accepted a task.
 */
export interface BrowserCaptchaSolveStartedEvent {
  category: 'captcha';

  /**
   * Per-task payload. A visible challenge may create multiple tasks. When present,
   * task_id correlates this event with a captcha_solve_result, while challenge_id
   * groups tasks from the same challenge. Events may arrive out of order or be
   * absent, so their arrival does not indicate current solve state.
   */
  data: BrowserCaptchaSolveStartedEvent.Data;

  /**
   * Provenance metadata identifying which producer emitted the event.
   */
  source: BrowserEventSource;

  /**
   * Event timestamp in Unix microseconds.
   */
  ts: number;

  type: 'captcha_solve_started';

  /**
   * True if the data field was truncated due to size limits.
   */
  truncated?: boolean;
}

export namespace BrowserCaptchaSolveStartedEvent {
  /**
   * Per-task payload. A visible challenge may create multiple tasks. When present,
   * task_id correlates this event with a captcha_solve_result, while challenge_id
   * groups tasks from the same challenge. Events may arrive out of order or be
   * absent, so their arrival does not indicate current solve state.
   */
  export interface Data {
    /**
     * Captcha kind. Enterprise reCAPTCHA variants are grouped into their version
     * bucket (recaptcha_v2 or recaptcha_v3), press-and-hold challenges use
     * press_and_hold, and unlisted kinds use other.
     */
    captcha_type:
      | 'hcaptcha'
      | 'recaptcha_v2'
      | 'recaptcha_v3'
      | 'turnstile'
      | 'geetest'
      | 'press_and_hold'
      | 'other';

    /**
     * Opaque identifier shared by events for one visible challenge. An image-grid
     * captcha may create multiple task_id values for one challenge_id. The same value
     * may continue across a page reload when the challenge episode continues. It does
     * not indicate task ordering or challenge completion.
     */
    challenge_id?: string;

    /**
     * Opaque identifier shared with the matching captcha_solve_result.
     */
    task_id?: string;

    /**
     * Host of the page where the captcha is being solved. May be empty for solver
     * tasks that carry no page URL.
     */
    website_host?: string;

    /**
     * Path of the page where the captcha is being solved. Query string excluded.
     */
    website_path?: string;
  }
}

/**
 * A browser-control command a client sent over the CDP WebSocket proxy: input
 * gestures, navigation, dialog handling, file selection and screenshots.
 * Configuration commands and the DOM/Runtime traffic a client library issues on
 * the caller's behalf are not reported. One event per browser-control command that
 * reached the browser. The command stream is not sampled, coalesced or reordered.
 * An event is lost only when the method is excluded by telemetry configuration,
 * when the command's arguments do not decode, or when classification cannot keep
 * up. Exclusions are counted in `cdp_disconnect.telemetry_excluded`; the rest in
 * `cdp_disconnect.telemetry_dropped`.
 */
export interface BrowserCdpCommandEvent {
  category: 'control';

  /**
   * Per-command payload for `cdp_command` events, discriminated by `method`. Each
   * variant carries only the arguments approved for that command: values that could
   * hold a secret — typed and composition text, URLs, referrers, scripts, templates,
   * file paths, drag contents and autofill values — are replaced by a length, a
   * count, a presence flag, an enum or a URL scheme and host.
   */
  data:
    | BrowserCdpCommandEvent.BrowserCdpInputDispatchMouseEventCommandData
    | BrowserCdpCommandEvent.BrowserCdpInputDispatchKeyEventCommandData
    | BrowserCdpCommandEvent.BrowserCdpInputInsertTextCommandData
    | BrowserCdpCommandEvent.BrowserCdpInputImeSetCompositionCommandData
    | BrowserCdpCommandEvent.BrowserCdpInputDispatchTouchEventCommandData
    | BrowserCdpCommandEvent.BrowserCdpInputDispatchDragEventCommandData
    | BrowserCdpCommandEvent.BrowserCdpInputCancelDraggingCommandData
    | BrowserCdpCommandEvent.BrowserCdpInputEmulateTouchFromMouseEventCommandData
    | BrowserCdpCommandEvent.BrowserCdpInputSynthesizePinchGestureCommandData
    | BrowserCdpCommandEvent.BrowserCdpInputSynthesizeScrollGestureCommandData
    | BrowserCdpCommandEvent.BrowserCdpInputSynthesizeTapGestureCommandData
    | BrowserCdpCommandEvent.BrowserCdpDomSetFileInputFilesCommandData
    | BrowserCdpCommandEvent.BrowserCdpDomFocusCommandData
    | BrowserCdpCommandEvent.BrowserCdpDomScrollIntoViewIfNeededCommandData
    | BrowserCdpCommandEvent.BrowserCdpPageBringToFrontCommandData
    | BrowserCdpCommandEvent.BrowserCdpPageCaptureScreenshotCommandData
    | BrowserCdpCommandEvent.BrowserCdpPageCaptureSnapshotCommandData
    | BrowserCdpCommandEvent.BrowserCdpPageHandleJavaScriptDialogCommandData
    | BrowserCdpCommandEvent.BrowserCdpPageNavigateCommandData
    | BrowserCdpCommandEvent.BrowserCdpPageNavigateToHistoryEntryCommandData
    | BrowserCdpCommandEvent.BrowserCdpPageReloadCommandData
    | BrowserCdpCommandEvent.BrowserCdpPagePrintToPdfCommandData
    | BrowserCdpCommandEvent.BrowserCdpPageStartScreencastCommandData
    | BrowserCdpCommandEvent.BrowserCdpPageStopScreencastCommandData
    | BrowserCdpCommandEvent.BrowserCdpPageStopLoadingCommandData
    | BrowserCdpCommandEvent.BrowserCdpPageCloseCommandData
    | BrowserCdpCommandEvent.BrowserCdpPageSetWebLifecycleStateCommandData
    | BrowserCdpCommandEvent.BrowserCdpTargetActivateTargetCommandData
    | BrowserCdpCommandEvent.BrowserCdpTargetCloseTargetCommandData
    | BrowserCdpCommandEvent.BrowserCdpTargetCreateTargetCommandData
    | BrowserCdpCommandEvent.BrowserCdpTargetCreateBrowserContextCommandData
    | BrowserCdpCommandEvent.BrowserCdpTargetDisposeBrowserContextCommandData
    | BrowserCdpCommandEvent.BrowserCdpTargetOpenDevToolsCommandData
    | BrowserCdpCommandEvent.BrowserCdpBrowserCancelDownloadCommandData
    | BrowserCdpCommandEvent.BrowserCdpBrowserCloseCommandData
    | BrowserCdpCommandEvent.BrowserCdpBrowserSetWindowBoundsCommandData
    | BrowserCdpCommandEvent.BrowserCdpBrowserSetContentsSizeCommandData
    | BrowserCdpCommandEvent.BrowserCdpAutofillTriggerCommandData;

  /**
   * Provenance metadata identifying which producer emitted the event.
   */
  source: BrowserEventSource;

  /**
   * Event timestamp in Unix microseconds.
   */
  ts: number;

  type: 'cdp_command';

  /**
   * True if the data field was truncated due to size limits.
   */
  truncated?: boolean;
}

export namespace BrowserCdpCommandEvent {
  /**
   * Sanitized `Input.dispatchMouseEvent` arguments. Canonical input:
   * `Input.dispatchMouseEvent` in devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpInputDispatchMouseEventCommandData {
    /**
     * Mouse event phase: `mousePressed`, `mouseReleased`, `mouseMoved` or
     * `mouseWheel`. A value the protocol does not define is reported as `other`.
     */
    event_type: 'mousePressed' | 'mouseReleased' | 'mouseMoved' | 'mouseWheel' | 'other';

    method: 'Input.dispatchMouseEvent';

    /**
     * Button named by the command (`none`, `left`, `middle`, `right`, `back`,
     * `forward`). A value the protocol does not define is reported as `other`.
     */
    button?: 'none' | 'left' | 'middle' | 'right' | 'back' | 'forward' | 'other';

    /**
     * Bit field of buttons held down. Non-zero on a `mouseMoved` means the move is a
     * drag path.
     */
    buttons?: number;

    /**
     * Number of times the button was clicked (2 is a double click).
     */
    click_count?: number;

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * Horizontal scroll delta, for `mouseWheel`.
     */
    delta_x?: number;

    /**
     * Vertical scroll delta, for `mouseWheel`.
     */
    delta_y?: number;

    /**
     * Normalized pressure, 0 to 1.
     */
    force?: number;

    /**
     * Bit field of held modifier keys (1=Alt, 2=Ctrl, 4=Meta, 8=Shift).
     */
    modifiers?: number;

    /**
     * Pointer that generated the event (`mouse` or `pen`). A value the protocol does
     * not define is reported as `other`.
     */
    pointer_type?: 'mouse' | 'pen' | 'other';

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;

    /**
     * Normalized tangential pressure, -1 to 1.
     */
    tangential_pressure?: number;

    /**
     * Pen tilt from the Y-Z plane, in degrees.
     */
    tilt_x?: number;

    /**
     * Pen tilt from the X-Z plane, in degrees.
     */
    tilt_y?: number;

    /**
     * Pen clockwise rotation, in degrees.
     */
    twist?: number;

    /**
     * Viewport x coordinate in CSS pixels.
     */
    x?: number;

    /**
     * Viewport y coordinate in CSS pixels.
     */
    y?: number;
  }

  /**
   * Sanitized `Input.dispatchKeyEvent` arguments. Canonical input:
   * `Input.dispatchKeyEvent` in devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpInputDispatchKeyEventCommandData {
    /**
     * Key event phase: `keyDown`, `keyUp`, `rawKeyDown` or `char`. A value the
     * protocol does not define is reported as `other`.
     */
    event_type: 'keyDown' | 'keyUp' | 'rawKeyDown' | 'char' | 'other';

    method: 'Input.dispatchKeyEvent';

    /**
     * Whether the event was generated by key repeat.
     */
    auto_repeat?: boolean;

    /**
     * Number of editing commands (e.g. `selectAll`) carried by the event.
     */
    command_count?: number;

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * Whether the key is on the numeric keypad.
     */
    is_keypad?: boolean;

    /**
     * Whether the event is a system key event.
     */
    is_system_key?: boolean;

    /**
     * Keyboard location (1=left, 2=right, 3=numpad).
     */
    location?: number;

    /**
     * Bit field of held modifier keys (1=Alt, 2=Ctrl, 4=Meta, 8=Shift).
     */
    modifiers?: number;

    /**
     * Key that commands the page rather than typing into it (e.g. `Enter`, `Tab`,
     * `ArrowDown`, `F5`). Keys that produce a character are never captured; those are
     * counted by `text_length`.
     */
    named_key?: string;

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;

    /**
     * Number of characters the command submitted. The text itself is never captured.
     */
    text_length?: number;
  }

  /**
   * Sanitized `Input.insertText` arguments. Canonical input: `Input.insertText` in
   * devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpInputInsertTextCommandData {
    method: 'Input.insertText';

    /**
     * Number of characters inserted. The text itself is never captured.
     */
    text_length: number;

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;
  }

  /**
   * Sanitized `Input.imeSetComposition` arguments. Canonical input:
   * `Input.imeSetComposition` in devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpInputImeSetCompositionCommandData {
    method: 'Input.imeSetComposition';

    /**
     * Number of characters in the composition. The text itself is never captured.
     */
    text_length: number;

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * Replacement range end offset.
     */
    replacement_end?: number;

    /**
     * Replacement range start offset.
     */
    replacement_start?: number;

    /**
     * Selection end offset within the composition.
     */
    selection_end?: number;

    /**
     * Selection start offset within the composition.
     */
    selection_start?: number;

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;
  }

  /**
   * Sanitized `Input.dispatchTouchEvent` arguments. Canonical input:
   * `Input.dispatchTouchEvent` in devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpInputDispatchTouchEventCommandData {
    /**
     * Touch event phase: `touchStart`, `touchEnd`, `touchMove` or `touchCancel`. A
     * value the protocol does not define is reported as `other`.
     */
    event_type: 'touchStart' | 'touchEnd' | 'touchMove' | 'touchCancel' | 'other';

    method: 'Input.dispatchTouchEvent';

    /**
     * Number of active touch points the command carried.
     */
    touch_point_count: number;

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * Normalized pressure of the first touch point, 0 to 1.
     */
    force?: number;

    /**
     * Bit field of held modifier keys (1=Alt, 2=Ctrl, 4=Meta, 8=Shift).
     */
    modifiers?: number;

    /**
     * Horizontal radius of the first touch point.
     */
    radius_x?: number;

    /**
     * Vertical radius of the first touch point.
     */
    radius_y?: number;

    /**
     * Rotation of the first touch point, in degrees.
     */
    rotation_angle?: number;

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;

    /**
     * Normalized tangential pressure of the first touch point, -1 to 1.
     */
    tangential_pressure?: number;

    /**
     * Tilt of the first touch point from the Y-Z plane, in degrees.
     */
    tilt_x?: number;

    /**
     * Tilt of the first touch point from the X-Z plane, in degrees.
     */
    tilt_y?: number;

    /**
     * Clockwise rotation of the first touch point, in degrees.
     */
    twist?: number;

    /**
     * Viewport x coordinate of the first touch point. Touch coordinates live inside
     * `touchPoints`, so this is the primary point rather than a command-level
     * argument.
     */
    x?: number;

    /**
     * Viewport y coordinate of the first touch point.
     */
    y?: number;
  }

  /**
   * Sanitized `Input.dispatchDragEvent` arguments. Canonical input:
   * `Input.dispatchDragEvent` in devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpInputDispatchDragEventCommandData {
    /**
     * Drag event phase: `dragEnter`, `dragOver`, `drop` or `dragCancel`. A value the
     * protocol does not define is reported as `other`.
     */
    event_type: 'dragEnter' | 'dragOver' | 'drop' | 'dragCancel' | 'other';

    method: 'Input.dispatchDragEvent';

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * Number of files in the drag payload. File paths are never captured.
     */
    drag_file_count?: number;

    /**
     * Number of items in the drag payload. Item contents are never captured.
     */
    drag_item_count?: number;

    /**
     * Distinct top-level MIME categories of the drag items (e.g. `text`, `image`,
     * `application`). Subtypes and contents are never captured. A value the protocol
     * does not define is reported as `other`.
     */
    drag_mime_categories?: Array<
      | 'text'
      | 'image'
      | 'audio'
      | 'video'
      | 'application'
      | 'font'
      | 'model'
      | 'multipart'
      | 'message'
      | 'other'
    >;

    /**
     * Bit field of allowed drag operations (1=copy, 2=link, 16=move).
     */
    drag_operations_mask?: number;

    /**
     * Bit field of held modifier keys (1=Alt, 2=Ctrl, 4=Meta, 8=Shift).
     */
    modifiers?: number;

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;

    /**
     * Viewport x coordinate in CSS pixels.
     */
    x?: number;

    /**
     * Viewport y coordinate in CSS pixels.
     */
    y?: number;
  }

  /**
   * Sanitized `Input.cancelDragging` arguments. Canonical input:
   * `Input.cancelDragging` in devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpInputCancelDraggingCommandData {
    method: 'Input.cancelDragging';

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;
  }

  /**
   * Sanitized `Input.emulateTouchFromMouseEvent` arguments. Canonical input:
   * `Input.emulateTouchFromMouseEvent` in devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpInputEmulateTouchFromMouseEventCommandData {
    /**
     * Mouse event phase being emulated as touch. A value the protocol does not define
     * is reported as `other`.
     */
    event_type: 'mousePressed' | 'mouseReleased' | 'mouseMoved' | 'mouseWheel' | 'other';

    method: 'Input.emulateTouchFromMouseEvent';

    /**
     * Button named by the command. A value the protocol does not define is reported as
     * `other`.
     */
    button?: 'none' | 'left' | 'middle' | 'right' | 'back' | 'forward' | 'other';

    /**
     * Number of times the button was clicked.
     */
    click_count?: number;

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * Horizontal scroll delta.
     */
    delta_x?: number;

    /**
     * Vertical scroll delta.
     */
    delta_y?: number;

    /**
     * Bit field of held modifier keys (1=Alt, 2=Ctrl, 4=Meta, 8=Shift).
     */
    modifiers?: number;

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;

    /**
     * Viewport x coordinate in CSS pixels.
     */
    x?: number;

    /**
     * Viewport y coordinate in CSS pixels.
     */
    y?: number;
  }

  /**
   * Sanitized `Input.synthesizePinchGesture` arguments. Canonical input:
   * `Input.synthesizePinchGesture` in devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpInputSynthesizePinchGestureCommandData {
    method: 'Input.synthesizePinchGesture';

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * Input source the synthesized gesture emulates. A value the protocol does not
     * define is reported as `other`.
     */
    gesture_source_type?: 'default' | 'touch' | 'mouse' | 'other';

    /**
     * Relative pointer speed, in pixels per second.
     */
    relative_speed?: number;

    /**
     * Relative scale of the pinch (>1 zooms in).
     */
    scale_factor?: number;

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;

    /**
     * Viewport x coordinate in CSS pixels.
     */
    x?: number;

    /**
     * Viewport y coordinate in CSS pixels.
     */
    y?: number;
  }

  /**
   * Sanitized `Input.synthesizeScrollGesture` arguments. Canonical input:
   * `Input.synthesizeScrollGesture` in devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpInputSynthesizeScrollGestureCommandData {
    method: 'Input.synthesizeScrollGesture';

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * Input source the synthesized gesture emulates. A value the protocol does not
     * define is reported as `other`.
     */
    gesture_source_type?: 'default' | 'touch' | 'mouse' | 'other';

    /**
     * Whether fling was suppressed.
     */
    prevent_fling?: boolean;

    /**
     * Number of additional repeats of the scroll.
     */
    repeat_count?: number;

    /**
     * Delay between repeats, in milliseconds.
     */
    repeat_delay_ms?: number;

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;

    /**
     * Swipe speed in pixels per second.
     */
    speed?: number;

    /**
     * Viewport x coordinate in CSS pixels.
     */
    x?: number;

    /**
     * Horizontal scroll distance in CSS pixels; positive scrolls left.
     */
    x_distance?: number;

    /**
     * Additional horizontal distance scrolled past the end.
     */
    x_overscroll?: number;

    /**
     * Viewport y coordinate in CSS pixels.
     */
    y?: number;

    /**
     * Vertical scroll distance in CSS pixels; positive scrolls up.
     */
    y_distance?: number;

    /**
     * Additional vertical distance scrolled past the end.
     */
    y_overscroll?: number;
  }

  /**
   * Sanitized `Input.synthesizeTapGesture` arguments. Canonical input:
   * `Input.synthesizeTapGesture` in devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpInputSynthesizeTapGestureCommandData {
    method: 'Input.synthesizeTapGesture';

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * Duration between touchdown and touchup, in milliseconds.
     */
    duration?: number;

    /**
     * Input source the synthesized gesture emulates. A value the protocol does not
     * define is reported as `other`.
     */
    gesture_source_type?: 'default' | 'touch' | 'mouse' | 'other';

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;

    /**
     * Number of times to tap (2 is a double tap).
     */
    tap_count?: number;

    /**
     * Viewport x coordinate in CSS pixels.
     */
    x?: number;

    /**
     * Viewport y coordinate in CSS pixels.
     */
    y?: number;
  }

  /**
   * Sanitized `DOM.setFileInputFiles` arguments. Canonical input:
   * `DOM.setFileInputFiles` in devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpDomSetFileInputFilesCommandData {
    /**
     * Number of files handed to the input. File paths are never captured.
     */
    file_count: number;

    method: 'DOM.setFileInputFiles';

    /**
     * Opaque backend DOM node identifier the command targeted.
     */
    backend_node_id?: number;

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * Opaque DOM node identifier the command targeted.
     */
    node_id?: number;

    /**
     * Opaque Runtime remote object identifier the command targeted. Clipped to 128
     * characters; a longer value is not a real identifier.
     */
    object_id?: string;

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;
  }

  /**
   * Sanitized `DOM.focus` arguments. Canonical input: `DOM.focus` in
   * devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpDomFocusCommandData {
    method: 'DOM.focus';

    /**
     * Opaque backend DOM node identifier the command targeted.
     */
    backend_node_id?: number;

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * Opaque DOM node identifier the command targeted.
     */
    node_id?: number;

    /**
     * Opaque Runtime remote object identifier the command targeted. Clipped to 128
     * characters; a longer value is not a real identifier.
     */
    object_id?: string;

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;
  }

  /**
   * Sanitized `DOM.scrollIntoViewIfNeeded` arguments. Canonical input:
   * `DOM.scrollIntoViewIfNeeded` in devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpDomScrollIntoViewIfNeededCommandData {
    method: 'DOM.scrollIntoViewIfNeeded';

    /**
     * Opaque backend DOM node identifier the command targeted.
     */
    backend_node_id?: number;

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * Opaque DOM node identifier the command targeted.
     */
    node_id?: number;

    /**
     * Opaque Runtime remote object identifier the command targeted. Clipped to 128
     * characters; a longer value is not a real identifier.
     */
    object_id?: string;

    /**
     * Height of the rect the command scrolled to.
     */
    rect_height?: number;

    /**
     * Width of the rect the command scrolled to.
     */
    rect_width?: number;

    /**
     * X offset of the rect the command scrolled to, relative to the node.
     */
    rect_x?: number;

    /**
     * Y offset of the rect the command scrolled to, relative to the node.
     */
    rect_y?: number;

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;
  }

  /**
   * Sanitized `Page.bringToFront` arguments. Canonical input: `Page.bringToFront` in
   * devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpPageBringToFrontCommandData {
    method: 'Page.bringToFront';

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;
  }

  /**
   * Sanitized `Page.captureScreenshot` arguments. Canonical input:
   * `Page.captureScreenshot` in devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpPageCaptureScreenshotCommandData {
    method: 'Page.captureScreenshot';

    /**
     * Whether the capture extended past the viewport.
     */
    capture_beyond_viewport?: boolean;

    /**
     * Clip region height in CSS pixels.
     */
    clip_height?: number;

    /**
     * Clip region page scale factor.
     */
    clip_scale?: number;

    /**
     * Clip region width in CSS pixels.
     */
    clip_width?: number;

    /**
     * Clip region x offset in CSS pixels.
     */
    clip_x?: number;

    /**
     * Clip region y offset in CSS pixels.
     */
    clip_y?: number;

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * Image format requested (`jpeg`, `png` or `webp`). A value the protocol does not
     * define is reported as `other`.
     */
    format?: 'jpeg' | 'png' | 'webp' | 'other';

    /**
     * Whether the capture was taken from the surface rather than the view.
     */
    from_surface?: boolean;

    /**
     * Whether encoding favored speed over size.
     */
    optimize_for_speed?: boolean;

    /**
     * Compression quality, 0 to 100, for lossy formats.
     */
    quality?: number;

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;
  }

  /**
   * Sanitized `Page.captureSnapshot` arguments. Canonical input:
   * `Page.captureSnapshot` in devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpPageCaptureSnapshotCommandData {
    method: 'Page.captureSnapshot';

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * Snapshot format requested (`mhtml`). A value the protocol does not define is
     * reported as `other`.
     */
    format?: 'mhtml' | 'other';

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;
  }

  /**
   * Sanitized `Page.handleJavaScriptDialog` arguments. Canonical input:
   * `Page.handleJavaScriptDialog` in devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpPageHandleJavaScriptDialogCommandData {
    /**
     * Whether the dialog was accepted or dismissed.
     */
    accept: boolean;

    method: 'Page.handleJavaScriptDialog';

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * Number of characters entered into a prompt dialog. The text itself is never
     * captured.
     */
    prompt_text_length?: number;

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;
  }

  /**
   * Sanitized `Page.navigate` arguments. Canonical input: `Page.navigate` in
   * devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpPageNavigateCommandData {
    method: 'Page.navigate';

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * Opaque frame identifier. Clipped to 128 characters; a longer value is not a real
     * identifier.
     */
    frame_id?: string;

    /**
     * Referrer policy named by the command. A value the protocol does not define is
     * reported as `other`.
     */
    referrer_policy?:
      | 'noReferrer'
      | 'noReferrerWhenDowngrade'
      | 'origin'
      | 'originWhenCrossOrigin'
      | 'sameOrigin'
      | 'strictOrigin'
      | 'strictOriginWhenCrossOrigin'
      | 'unsafeUrl'
      | 'other';

    /**
     * Whether the command carried a referrer. The referrer itself is never captured.
     */
    referrer_present?: boolean;

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;

    /**
     * Navigation reason reported by the caller (e.g. `link`, `typed`, `reload`). A
     * value the protocol does not define is reported as `other`.
     */
    transition_type?:
      | 'link'
      | 'typed'
      | 'address_bar'
      | 'auto_bookmark'
      | 'auto_subframe'
      | 'manual_subframe'
      | 'generated'
      | 'auto_toplevel'
      | 'form_submit'
      | 'reload'
      | 'keyword'
      | 'keyword_generated'
      | 'other';

    /**
     * Scheme of the destination URL (e.g. `https`, `about`, `data`). The rest of the
     * URL is never captured.
     */
    url_scheme?: string;
  }

  /**
   * Sanitized `Page.navigateToHistoryEntry` arguments. Canonical input:
   * `Page.navigateToHistoryEntry` in devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpPageNavigateToHistoryEntryCommandData {
    /**
     * History entry the command navigated to.
     */
    entry_id: number;

    method: 'Page.navigateToHistoryEntry';

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;
  }

  /**
   * Sanitized `Page.reload` arguments. Canonical input: `Page.reload` in
   * devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpPageReloadCommandData {
    method: 'Page.reload';

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * Whether the reload bypassed the cache.
     */
    ignore_cache?: boolean;

    /**
     * Opaque document loader identifier. Clipped to 128 characters; a longer value is
     * not a real identifier.
     */
    loader_id?: string;

    /**
     * Number of characters in the injected script.
     */
    script_length?: number;

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;
  }

  /**
   * Sanitized `Page.printToPDF` arguments. Canonical input: `Page.printToPDF` in
   * devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpPagePrintToPdfCommandData {
    method: 'Page.printToPDF';

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * Whether a header and footer were rendered.
     */
    display_header_footer?: boolean;

    /**
     * Whether a footer template was supplied. The template itself is never captured.
     */
    footer_template_present?: boolean;

    /**
     * Whether a document outline was embedded.
     */
    generate_document_outline?: boolean;

    /**
     * Whether a tagged (accessible) PDF was requested.
     */
    generate_tagged_pdf?: boolean;

    /**
     * Whether a header template was supplied. The template itself is never captured.
     */
    header_template_present?: boolean;

    /**
     * Whether the page was laid out in landscape.
     */
    landscape?: boolean;

    /**
     * Bottom margin in inches.
     */
    margin_bottom?: number;

    /**
     * Left margin in inches.
     */
    margin_left?: number;

    /**
     * Right margin in inches.
     */
    margin_right?: number;

    /**
     * Top margin in inches.
     */
    margin_top?: number;

    /**
     * Whether a page range was supplied.
     */
    page_ranges_present?: boolean;

    /**
     * Paper height in inches.
     */
    paper_height?: number;

    /**
     * Paper width in inches.
     */
    paper_width?: number;

    /**
     * Whether the CSS page size was preferred over the paper size.
     */
    prefer_css_page_size?: boolean;

    /**
     * Whether background graphics were printed.
     */
    print_background?: boolean;

    /**
     * Page render scale.
     */
    scale?: number;

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;

    /**
     * How the PDF was returned (`ReturnAsBase64` or `ReturnAsStream`). A value the
     * protocol does not define is reported as `other`.
     */
    transfer_mode?: 'ReturnAsBase64' | 'ReturnAsStream' | 'other';
  }

  /**
   * Sanitized `Page.startScreencast` arguments. Canonical input:
   * `Page.startScreencast` in devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpPageStartScreencastCommandData {
    method: 'Page.startScreencast';

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * Frame sampling interval.
     */
    every_nth_frame?: number;

    /**
     * Frame format requested (`jpeg` or `png`). A value the protocol does not define
     * is reported as `other`.
     */
    format?: 'jpeg' | 'png' | 'other';

    /**
     * Maximum frame height in pixels.
     */
    max_height?: number;

    /**
     * Maximum frame width in pixels.
     */
    max_width?: number;

    /**
     * Compression quality, 0 to 100.
     */
    quality?: number;

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;
  }

  /**
   * Sanitized `Page.stopScreencast` arguments. Canonical input:
   * `Page.stopScreencast` in devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpPageStopScreencastCommandData {
    method: 'Page.stopScreencast';

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;
  }

  /**
   * Sanitized `Page.stopLoading` arguments. Canonical input: `Page.stopLoading` in
   * devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpPageStopLoadingCommandData {
    method: 'Page.stopLoading';

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;
  }

  /**
   * Sanitized `Page.close` arguments. Canonical input: `Page.close` in
   * devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpPageCloseCommandData {
    method: 'Page.close';

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;
  }

  /**
   * Sanitized `Page.setWebLifecycleState` arguments. Canonical input:
   * `Page.setWebLifecycleState` in devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpPageSetWebLifecycleStateCommandData {
    method: 'Page.setWebLifecycleState';

    /**
     * Lifecycle state applied (`frozen` or `active`). A value the protocol does not
     * define is reported as `other`.
     */
    state: 'frozen' | 'active' | 'other';

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;
  }

  /**
   * Sanitized `Target.activateTarget` arguments. Canonical input:
   * `Target.activateTarget` in devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpTargetActivateTargetCommandData {
    method: 'Target.activateTarget';

    /**
     * Opaque target identifier. Clipped to 128 characters; a longer value is not a
     * real identifier.
     */
    target_id: string;

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;
  }

  /**
   * Sanitized `Target.closeTarget` arguments. Canonical input: `Target.closeTarget`
   * in devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpTargetCloseTargetCommandData {
    method: 'Target.closeTarget';

    /**
     * Opaque target identifier. Clipped to 128 characters; a longer value is not a
     * real identifier.
     */
    target_id: string;

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;
  }

  /**
   * Sanitized `Target.createTarget` arguments. Canonical input:
   * `Target.createTarget` in devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpTargetCreateTargetCommandData {
    method: 'Target.createTarget';

    /**
     * Whether the target was created in the background.
     */
    background?: boolean;

    /**
     * Opaque browser context identifier. Clipped to 128 characters; a longer value is
     * not a real identifier.
     */
    browser_context_id?: string;

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * Whether BeginFrame control was enabled (headless only).
     */
    enable_begin_frame_control?: boolean;

    /**
     * Whether the new target was focused.
     */
    focus?: boolean;

    /**
     * Whether a tab target rather than a page target was created.
     */
    for_tab?: boolean;

    /**
     * Window height in DIP.
     */
    height?: number;

    /**
     * Whether the target was created hidden.
     */
    hidden?: boolean;

    /**
     * Window x position in screen coordinates.
     */
    left?: number;

    /**
     * Whether a new window was requested.
     */
    new_window?: boolean;

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;

    /**
     * Window y position in screen coordinates.
     */
    top?: number;

    /**
     * Scheme of the destination URL (e.g. `https`, `about`, `data`). The rest of the
     * URL is never captured.
     */
    url_scheme?: string;

    /**
     * Window width in DIP.
     */
    width?: number;

    /**
     * Window state requested (`normal`, `minimized`, `maximized`, `fullscreen`). A
     * value the protocol does not define is reported as `other`.
     */
    window_state?: 'normal' | 'minimized' | 'maximized' | 'fullscreen' | 'other';
  }

  /**
   * Sanitized `Target.createBrowserContext` arguments. Canonical input:
   * `Target.createBrowserContext` in devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpTargetCreateBrowserContextCommandData {
    method: 'Target.createBrowserContext';

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * Whether the context is disposed when the debugging session detaches.
     */
    dispose_on_detach?: boolean;

    /**
     * Whether a proxy bypass list was configured.
     */
    proxy_bypass_list_present?: boolean;

    /**
     * Whether a proxy was configured. The proxy address is never captured.
     */
    proxy_server_present?: boolean;

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;

    /**
     * Number of origins granted universal network access. The origins themselves are
     * never captured.
     */
    universal_network_access_origin_count?: number;
  }

  /**
   * Sanitized `Target.disposeBrowserContext` arguments. Canonical input:
   * `Target.disposeBrowserContext` in devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpTargetDisposeBrowserContextCommandData {
    /**
     * Opaque browser context identifier. Clipped to 128 characters; a longer value is
     * not a real identifier.
     */
    browser_context_id: string;

    method: 'Target.disposeBrowserContext';

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;
  }

  /**
   * Sanitized `Target.openDevTools` arguments. Canonical input:
   * `Target.openDevTools` in devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpTargetOpenDevToolsCommandData {
    method: 'Target.openDevTools';

    /**
     * Opaque target identifier. Clipped to 128 characters; a longer value is not a
     * real identifier.
     */
    target_id: string;

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * DevTools panel opened. Clipped to 128 characters; a longer value is not a real
     * identifier.
     */
    panel_id?: string;

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;
  }

  /**
   * Sanitized `Browser.cancelDownload` arguments. Canonical input:
   * `Browser.cancelDownload` in devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpBrowserCancelDownloadCommandData {
    /**
     * Opaque identifier of the download that was cancelled. Clipped to 128 characters;
     * a longer value is not a real identifier.
     */
    download_guid: string;

    method: 'Browser.cancelDownload';

    /**
     * Opaque browser context identifier. Clipped to 128 characters; a longer value is
     * not a real identifier.
     */
    browser_context_id?: string;

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;
  }

  /**
   * Sanitized `Browser.close` arguments. Canonical input: `Browser.close` in
   * devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpBrowserCloseCommandData {
    method: 'Browser.close';

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;
  }

  /**
   * Sanitized `Browser.setWindowBounds` arguments. Canonical input:
   * `Browser.setWindowBounds` in devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpBrowserSetWindowBoundsCommandData {
    method: 'Browser.setWindowBounds';

    /**
     * Browser window identifier.
     */
    window_id: number;

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * Window height in DIP.
     */
    height?: number;

    /**
     * Window x position in screen coordinates.
     */
    left?: number;

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;

    /**
     * Window y position in screen coordinates.
     */
    top?: number;

    /**
     * Window width in DIP.
     */
    width?: number;

    /**
     * Window state requested (`normal`, `minimized`, `maximized`, `fullscreen`). A
     * value the protocol does not define is reported as `other`.
     */
    window_state?: 'normal' | 'minimized' | 'maximized' | 'fullscreen' | 'other';
  }

  /**
   * Sanitized `Browser.setContentsSize` arguments. Canonical input:
   * `Browser.setContentsSize` in devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpBrowserSetContentsSizeCommandData {
    method: 'Browser.setContentsSize';

    /**
     * Browser window identifier.
     */
    window_id: number;

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * Contents height in DIP.
     */
    height?: number;

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;

    /**
     * Contents width in DIP.
     */
    width?: number;
  }

  /**
   * Sanitized `Autofill.trigger` arguments. Canonical input: `Autofill.trigger` in
   * devtools-protocol@2d019e73, pinned at
   * https://github.com/ChromeDevTools/devtools-protocol/blob/2d019e73eb371d1d6985d26d395d78bd8f8a22ba/json/browser_protocol.json.
   * Every argument of this command has a retained or redacted decision in
   * lib/devtoolsproxy/testdata/cdp_arguments.yaml.
   */
  export interface BrowserCdpAutofillTriggerCommandData {
    /**
     * Opaque backend node identifier of the field that was autofilled.
     */
    field_id: number;

    method: 'Autofill.trigger';

    /**
     * Number of address fields the command filled. Their names and values are never
     * captured.
     */
    address_field_count?: number;

    /**
     * The command's JSON-RPC id, so the command can be joined to the result the
     * browser returned for it. Absent when the client sent none.
     */
    command_id?: number;

    /**
     * Identifies the CDP proxy connection the command arrived on, matching
     * `cdp_connect` and `cdp_disconnect`. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * Opaque frame identifier. Clipped to 128 characters; a longer value is not a real
     * identifier.
     */
    frame_id?: string;

    /**
     * What was filled: `card` or `address`. The values themselves are never captured.
     */
    mode?: 'card' | 'address';

    /**
     * CDP session identifier the command was addressed to. Absent for browser-level
     * commands. Clipped to 128 characters.
     */
    session_id?: string;
  }
}

/**
 * A browser-control CDP method the proxy reports. The set covers the commands an
 * agent drives the browser with; configuration, DOM and Runtime bookkeeping, and
 * Chrome-specific UI commands are outside it. Canonical definitions:
 * devtools-protocol@2d019e73.
 */
export type BrowserCdpCommandMethod =
  | 'Input.dispatchMouseEvent'
  | 'Input.dispatchKeyEvent'
  | 'Input.insertText'
  | 'Input.imeSetComposition'
  | 'Input.dispatchTouchEvent'
  | 'Input.dispatchDragEvent'
  | 'Input.cancelDragging'
  | 'Input.emulateTouchFromMouseEvent'
  | 'Input.synthesizePinchGesture'
  | 'Input.synthesizeScrollGesture'
  | 'Input.synthesizeTapGesture'
  | 'DOM.setFileInputFiles'
  | 'DOM.focus'
  | 'DOM.scrollIntoViewIfNeeded'
  | 'Page.bringToFront'
  | 'Page.captureScreenshot'
  | 'Page.captureSnapshot'
  | 'Page.handleJavaScriptDialog'
  | 'Page.navigate'
  | 'Page.navigateToHistoryEntry'
  | 'Page.reload'
  | 'Page.printToPDF'
  | 'Page.startScreencast'
  | 'Page.stopScreencast'
  | 'Page.stopLoading'
  | 'Page.close'
  | 'Page.setWebLifecycleState'
  | 'Target.activateTarget'
  | 'Target.closeTarget'
  | 'Target.createTarget'
  | 'Target.createBrowserContext'
  | 'Target.disposeBrowserContext'
  | 'Target.openDevTools'
  | 'Browser.cancelDownload'
  | 'Browser.close'
  | 'Browser.setWindowBounds'
  | 'Browser.setContentsSize'
  | 'Autofill.trigger';

/**
 * An external client (e.g. customer SDK, Playwright, Puppeteer) connected to the
 * CDP WebSocket proxy on this VM.
 */
export interface BrowserCdpConnectEvent {
  category: 'connection';

  /**
   * Provenance metadata identifying which producer emitted the event.
   */
  source: BrowserEventSource;

  /**
   * Event timestamp in Unix microseconds.
   */
  ts: number;

  type: 'cdp_connect';

  data?: BrowserCdpConnectEvent.Data;

  /**
   * True if the data field was truncated due to size limits.
   */
  truncated?: boolean;
}

export namespace BrowserCdpConnectEvent {
  export interface Data {
    /**
     * Identifies this CDP proxy connection, matching the connection_id on the
     * cdp_command events that arrived on it. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;
  }
}

/**
 * An external client disconnected from the CDP WebSocket proxy on this VM. Pair
 * with the immediately preceding cdp_connect on the same stream.
 */
export interface BrowserCdpDisconnectEvent {
  category: 'connection';

  /**
   * Provenance metadata identifying which producer emitted the event.
   */
  source: BrowserEventSource;

  /**
   * Event timestamp in Unix microseconds.
   */
  ts: number;

  type: 'cdp_disconnect';

  data?: BrowserCdpDisconnectEvent.Data;

  /**
   * True if the data field was truncated due to size limits.
   */
  truncated?: boolean;
}

export namespace BrowserCdpDisconnectEvent {
  export interface Data {
    /**
     * Wall-clock duration of the connection in milliseconds.
     */
    duration_ms: number;

    /**
     * Number of CDP messages relayed across the connection in either direction.
     */
    message_count: number;

    /**
     * Why the connection ended. client_close: the client initiated the close.
     * upstream_changed: Chromium restarted mid-session and the proxy tore down so the
     * client could reconnect against the new upstream. upstream_error: upstream dial
     * or message pump errored. context_cancelled: the request context was cancelled
     * (typically server shutdown).
     */
    reason: 'client_close' | 'upstream_changed' | 'upstream_error' | 'context_cancelled';

    /**
     * Identifies this CDP proxy connection, matching the connection_id on the
     * cdp_command events that arrived on it. Two clients driving the same browser are
     * told apart by this.
     */
    connection_id?: string;

    /**
     * Number of forwarded client frames the classifier never saw, because it could not
     * keep up or because classification failed. An upper bound on lost commands rather
     * than a count: a saturated queue turns away whatever arrives next, which may be
     * library traffic that would have produced no event. Telemetry loss only; every
     * command was still relayed to the browser. Absent on events from a browser image
     * predating the field, which is not the same as zero.
     */
    telemetry_dropped?: number;

    /**
     * Number of forwarded client commands that produced no cdp_command event because
     * their method is listed in control.cdp.excluded_methods. Configuration rather
     * than loss, so it is counted apart from telemetry_dropped.
     */
    telemetry_excluded?: number;
  }
}

/**
 * A browser console error or uncaught JavaScript exception event. Emitted from two
 * distinct CDP sources with different data shapes. Runtime.consoleAPICalled
 * (console.error calls) produces level, text, args, and stack_trace.
 * Runtime.exceptionThrown (uncaught exceptions) produces text, line, column,
 * source_url, and stack_trace. Fields not applicable to the source are absent.
 */
export interface BrowserConsoleErrorEvent {
  category: 'console';

  /**
   * Provenance metadata identifying which producer emitted the event.
   */
  source: BrowserEventSource;

  /**
   * Event timestamp in Unix microseconds.
   */
  ts: number;

  type: 'console_error';

  /**
   * Browser event context stamped by the browser monitor onto all CDP-sourced
   * events. Identifies the target, frame, and navigation epoch in which the event
   * occurred.
   */
  data?: BrowserConsoleErrorEvent.Data;

  /**
   * True if the data field was truncated due to size limits.
   */
  truncated?: boolean;
}

export namespace BrowserConsoleErrorEvent {
  /**
   * Browser event context stamped by the browser monitor onto all CDP-sourced
   * events. Identifies the target, frame, and navigation epoch in which the event
   * occurred.
   */
  export interface Data extends TelemetryAPI.BrowserEventContext {
    /**
     * Human-readable error text, as the browser console would display it. For
     * console.error() calls, the first argument coerced to a string. For uncaught
     * exceptions, the prefix and error message, e.g. "Uncaught Error: boom" or
     * "Uncaught (in promise) TypeError: x is not a function".
     */
    text: string;

    /**
     * All console arguments coerced to strings. Present only when sourced from
     * Runtime.consoleAPICalled.
     */
    args?: Array<string>;

    /**
     * Column number in the script where the exception was thrown. Present only when
     * sourced from Runtime.exceptionThrown.
     */
    column?: number;

    /**
     * CDP console type value, always "error". Present only when sourced from
     * Runtime.consoleAPICalled.
     */
    level?: string;

    /**
     * Line number in the script where the exception was thrown. Present only when
     * sourced from Runtime.exceptionThrown.
     */
    line?: number;

    /**
     * URL of the script file that threw the exception. Present only when sourced from
     * Runtime.exceptionThrown.
     */
    source_url?: string;

    /**
     * CDP Runtime.StackTrace representing the JavaScript call stack at the time of an
     * event. Fields use CDP naming conventions rather than snake_case to match the
     * Chrome DevTools Protocol wire format.
     */
    stack_trace?: TelemetryAPI.BrowserCallStack;
  }
}

/**
 * A browser console log event (console.log, console.info, console.warn, etc.).
 */
export interface BrowserConsoleLogEvent {
  category: 'console';

  /**
   * Provenance metadata identifying which producer emitted the event.
   */
  source: BrowserEventSource;

  /**
   * Event timestamp in Unix microseconds.
   */
  ts: number;

  type: 'console_log';

  /**
   * Browser event context stamped by the browser monitor onto all CDP-sourced
   * events. Identifies the target, frame, and navigation epoch in which the event
   * occurred.
   */
  data?: BrowserConsoleLogEvent.Data;

  /**
   * True if the data field was truncated due to size limits.
   */
  truncated?: boolean;
}

export namespace BrowserConsoleLogEvent {
  /**
   * Browser event context stamped by the browser monitor onto all CDP-sourced
   * events. Identifies the target, frame, and navigation epoch in which the event
   * occurred.
   */
  export interface Data extends TelemetryAPI.BrowserEventContext {
    /**
     * All console arguments coerced to strings.
     */
    args?: Array<string>;

    /**
     * CDP Runtime.consoleAPICalled type, passed through unfiltered from Chrome. error
     * is routed to console_error events instead; all other CDP console types appear
     * here. See CDP spec for the full enum.
     */
    level?: string;

    /**
     * CDP Runtime.StackTrace representing the JavaScript call stack at the time of an
     * event. Fields use CDP naming conventions rather than snake_case to match the
     * Chrome DevTools Protocol wire format.
     */
    stack_trace?: TelemetryAPI.BrowserCallStack;

    /**
     * First console argument coerced to string.
     */
    text?: string;
  }
}

/**
 * Browser event context stamped by the browser monitor onto all CDP-sourced
 * events. Identifies the target, frame, and navigation epoch in which the event
 * occurred.
 */
export interface BrowserEventContext {
  /**
   * CDP frame identifier within the target.
   */
  frame_id?: string;

  /**
   * CDP document loader identifier, reset on each navigation.
   */
  loader_id?: string;

  /**
   * Monotonically increasing navigation sequence number, incremented on each
   * top-level navigation within the target.
   */
  nav_seq?: number;

  /**
   * CDP session identifier for the target connection.
   */
  session_id?: string;

  /**
   * Browser target identifier (stable across navigations within a tab).
   */
  target_id?: string;

  /**
   * CDP target type of the page that produced the event.
   */
  target_type?: 'page' | 'background_page' | 'service_worker' | 'shared_worker' | 'other';

  /**
   * URL relevant to this event — page URL for navigation and page events, request
   * URL for network events.
   */
  url?: string;
}

/**
 * Provenance metadata identifying which producer emitted the event.
 */
export interface BrowserEventSource {
  /**
   * Event producer. cdp: Chrome DevTools Protocol events from the browser.
   * kernel_api: Kernel API server. extension: injected Chrome extension.
   * local_process: system process running alongside the browser.
   */
  kind: 'cdp' | 'kernel_api' | 'extension' | 'local_process';

  /**
   * Producer-specific event name (e.g. Runtime.consoleAPICalled for CDP-sourced
   * console events, Runtime.exceptionThrown for uncaught exceptions).
   */
  event?: string;

  /**
   * Producer-specific context (e.g. CDP target/session/frame IDs).
   */
  metadata?: { [key: string]: string };
}

/**
 * HTTP headers map forwarded as-is from CDP without normalization. Values are
 * typically strings but may be any JSON type.
 */
export type BrowserHTTPHeaders = { [key: string]: unknown };

/**
 * A browser user click event captured via injected page script.
 */
export interface BrowserInteractionClickEvent {
  category: 'interaction';

  /**
   * Provenance metadata identifying which producer emitted the event.
   */
  source: BrowserEventSource;

  /**
   * Event timestamp in Unix microseconds.
   */
  ts: number;

  type: 'interaction_click';

  /**
   * Browser event context stamped by the browser monitor onto all CDP-sourced
   * events. Identifies the target, frame, and navigation epoch in which the event
   * occurred.
   */
  data?: BrowserInteractionClickEvent.Data;

  /**
   * True if the data field was truncated due to size limits.
   */
  truncated?: boolean;
}

export namespace BrowserInteractionClickEvent {
  /**
   * Browser event context stamped by the browser monitor onto all CDP-sourced
   * events. Identifies the target, frame, and navigation epoch in which the event
   * occurred.
   */
  export interface Data extends TelemetryAPI.BrowserEventContext {
    /**
     * CSS selector path to the clicked element.
     */
    selector?: string;

    /**
     * HTML tag name of the clicked element in uppercase (e.g. BUTTON, A, DIV).
     */
    tag?: string;

    /**
     * Visible text content of the clicked element, trimmed.
     */
    text?: string;

    /**
     * Viewport x-coordinate of the click in CSS pixels.
     */
    x?: number;

    /**
     * Viewport y-coordinate of the click in CSS pixels.
     */
    y?: number;
  }
}

/**
 * A browser keyboard event captured via injected page script.
 */
export interface BrowserInteractionKeyEvent {
  category: 'interaction';

  /**
   * Provenance metadata identifying which producer emitted the event.
   */
  source: BrowserEventSource;

  /**
   * Event timestamp in Unix microseconds.
   */
  ts: number;

  type: 'interaction_key';

  /**
   * Browser event context stamped by the browser monitor onto all CDP-sourced
   * events. Identifies the target, frame, and navigation epoch in which the event
   * occurred.
   */
  data?: BrowserInteractionKeyEvent.Data;

  /**
   * True if the data field was truncated due to size limits.
   */
  truncated?: boolean;
}

export namespace BrowserInteractionKeyEvent {
  /**
   * Browser event context stamped by the browser monitor onto all CDP-sourced
   * events. Identifies the target, frame, and navigation epoch in which the event
   * occurred.
   */
  export interface Data extends TelemetryAPI.BrowserEventContext {
    /**
     * Key value from the KeyboardEvent (e.g. Enter, Backspace, a).
     */
    key?: string;

    /**
     * CSS selector path to the element that had focus when the key was pressed.
     */
    selector?: string;

    /**
     * HTML tag name of the focused element in uppercase (e.g. INPUT, TEXTAREA, DIV).
     */
    tag?: string;
  }
}

/**
 * A browser scroll settled event emitted after scroll position stops changing,
 * captured via injected page script.
 */
export interface BrowserInteractionScrollSettledEvent {
  category: 'interaction';

  /**
   * Provenance metadata identifying which producer emitted the event.
   */
  source: BrowserEventSource;

  /**
   * Event timestamp in Unix microseconds.
   */
  ts: number;

  type: 'interaction_scroll_settled';

  /**
   * Browser event context stamped by the browser monitor onto all CDP-sourced
   * events. Identifies the target, frame, and navigation epoch in which the event
   * occurred.
   */
  data?: BrowserInteractionScrollSettledEvent.Data;

  /**
   * True if the data field was truncated due to size limits.
   */
  truncated?: boolean;
}

export namespace BrowserInteractionScrollSettledEvent {
  /**
   * Browser event context stamped by the browser monitor onto all CDP-sourced
   * events. Identifies the target, frame, and navigation epoch in which the event
   * occurred.
   */
  export interface Data extends TelemetryAPI.BrowserEventContext {
    /**
     * Scroll x-position at the start of the scroll gesture in CSS pixels.
     */
    from_x?: number;

    /**
     * Scroll y-position at the start of the scroll gesture in CSS pixels.
     */
    from_y?: number;

    /**
     * CSS selector path to the scrolled element.
     */
    target_selector?: string;

    /**
     * Final scroll x-position after the gesture settled in CSS pixels.
     */
    to_x?: number;

    /**
     * Final scroll y-position after the gesture settled in CSS pixels.
     */
    to_y?: number;
  }
}

/**
 * A live view client connected to the headful browser's WebRTC server. Headful
 * only; not emitted for headless images.
 */
export interface BrowserLiveViewConnectEvent {
  category: 'connection';

  /**
   * Provenance metadata identifying which producer emitted the event.
   */
  source: BrowserEventSource;

  /**
   * Event timestamp in Unix microseconds.
   */
  ts: number;

  type: 'live_view_connect';

  data?: BrowserLiveViewConnectEvent.Data;

  /**
   * True if the data field was truncated due to size limits.
   */
  truncated?: boolean;
}

export namespace BrowserLiveViewConnectEvent {
  export interface Data {
    /**
     * Live view session identifier. Stable across reconnects, so a transient network
     * blip can emit two events with the same session_id.
     */
    session_id: string;
  }
}

/**
 * A live view client disconnected from the headful browser's WebRTC server. Pair
 * with live_view_connect by session_id.
 */
export interface BrowserLiveViewDisconnectEvent {
  category: 'connection';

  /**
   * Provenance metadata identifying which producer emitted the event.
   */
  source: BrowserEventSource;

  /**
   * Event timestamp in Unix microseconds.
   */
  ts: number;

  type: 'live_view_disconnect';

  data?: BrowserLiveViewDisconnectEvent.Data;

  /**
   * True if the data field was truncated due to size limits.
   */
  truncated?: boolean;
}

export namespace BrowserLiveViewDisconnectEvent {
  export interface Data {
    /**
     * Wall-clock duration of the connection in milliseconds.
     */
    duration_ms: number;

    /**
     * Live view session identifier; matches the corresponding live_view_connect event.
     */
    session_id: string;
  }
}

/**
 * The CDP connection to Chrome was lost. Telemetry events may be dropped until
 * monitor_reconnected arrives. Treat any in-progress computed state (network_idle,
 * page_layout_settled) as unreliable until then.
 */
export interface BrowserMonitorDisconnectedEvent {
  category: 'monitor';

  /**
   * Provenance metadata identifying which producer emitted the event.
   */
  source: BrowserEventSource;

  /**
   * Event timestamp in Unix microseconds.
   */
  ts: number;

  type: 'monitor_disconnected';

  data?: BrowserMonitorDisconnectedEvent.Data;

  /**
   * True if the data field was truncated due to size limits.
   */
  truncated?: boolean;
}

export namespace BrowserMonitorDisconnectedEvent {
  export interface Data {
    /**
     * Reason for the disconnection. chrome_restarted: Chrome process restarted.
     */
    reason?: 'chrome_restarted';
  }
}

/**
 * The CDP session could not be initialized.
 */
export interface BrowserMonitorInitFailedEvent {
  category: 'monitor';

  /**
   * Provenance metadata identifying which producer emitted the event.
   */
  source: BrowserEventSource;

  /**
   * Event timestamp in Unix microseconds.
   */
  ts: number;

  type: 'monitor_init_failed';

  data?: BrowserMonitorInitFailedEvent.Data;

  /**
   * True if the data field was truncated due to size limits.
   */
  truncated?: boolean;
}

export namespace BrowserMonitorInitFailedEvent {
  export interface Data {
    /**
[...]
